.features {
  padding: 63px 0 229px;
  background: #FAFAFA top left/100% 100% no-repeat;

  &__title {
    margin-bottom: 70px;
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }

  &__col {
    height: 250px;
    background: top left/100% 100% no-repeat;
    padding: 157px 0 0;
  }

  &__Mcol:first-child &__col {
    background-image: url("../images/features/Bg1.png");
  }

  &__Mcol:nth-child(2) &__col {
    background-image: url("../images/features/Bg2.png");
  }

  &__Mcol:last-child &__col {
    background-image: url("../images/features/Bg3.png");

  }
  &__card{
    margin: 0 auto;
    background-color: white;
    width: calc(100% - 56px);
    padding: 33px 0 25px;
    border-radius: 6px;
    &-title{
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 20px;
    }
    &-subtitle{
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
      margin-bottom: 18px;
    }
    &-link{
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
      display: block;
      color: #b30012;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

